<div class="panel panel-default row" ng-controller="productListController" ng-hide="data.error">
    <div class="col-xs-3">
        <a class="btn btn-block btn-default btn-lg" ng-click="selectCategory()">Home</a>
        <a ng-repeat="category in data.products | orderBy:'category' | unique:'category'"
           ng-click="selectCategory(category)" class="btn btn-block btn-default btn-lg"
           ng-class="getCategoryClass(category)">
            {{category}}
        </a>
    </div>
    <div class="col-xs-8">
        <div class="well"
             ng-repeat="product in data.products | filter:categoryFilter | range:selectedPage:pageSize">
            <h3>
                <strong>{{product.name}}</strong>
                <span class="pull-right label label-primary">
                    {{product.price | currency}}
                </span>
            </h3>
            <button ng-click="addProductToCart(product)" class="btn btn-success pull-right">
                Add to cart
            </button>
            <span class="lead">
                {{product.description}}
            </span>
        </div>
        <div class="pull-right btn-group">
            <a class="btn btn-default"
               ng-repeat="page in data.products | filter:categoryFilter | pageCount:pageSize"
               ng-click="selectPage($index + 1)"
               ng-class="getPageClass($index + 1)">
                {{$index + 1}}
            </a>
        </div>
    </div>
</div>